
.Logo{
    -fx-image: url("/images/Logo.png");
}
.BackGroundGradient{
    -fx-background-color: linear-gradient(to top left, #63c2c3,#7c62ba);
}
.LogInGradient{
    -fx-background-color: linear-gradient(to top right, #63c2c3,#7c62ba);
}
.Sidebar{
    -fx-background-color: #58D68D;
}
.plainButton{
    -fx-background-color: #E2E2E2;
    -fx-background-radius: 0;
    -fx-font-family: Helvetica;
    -fx-font-size: 18;
    -fx-min-width: 250px;
    -fx-pref-width: 250px;
    -fx-max-width: 250px;
}
.plainSmallButton{
    -fx-background-color: #E2E2E2;
    -fx-background-radius: 0;
    -fx-font-family: Helvetica;
    -fx-font-size: 14;
    -fx-min-width: 100px;
    -fx-pref-width: 100px;
    -fx-max-width: 100px;
}
.greenButton{
    -fx-background-color: #58D68D;
    -fx-background-radius: 0;
    -fx-font-family: Helvetica;
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-min-width: 250px;
    -fx-pref-width: 250px;
    -fx-max-width: 250px;
}
.label{
    -fx-font-family: Helvetica;
    -fx-font-size: 18;
    -fx-text-fill: white;
}
.labelCompanyName{
    -fx-font-family: Helvetica;
    -fx-font-size: 24;
}
.backArrow{
    -fx-image: url('/images/BackArrow.png');
}
.textArea
{
    border: 1px solid #b5bcc7;
    height: 380px;
    background-color: #F7FCFF;
    color: Gray;
    margin-top: 1px;
    margin-left: 4px;
    margin-right: 1px;
    padding: 2px;
    overflow: auto;
    -fx-wrap-text: true;
}
.medLabel{
    -fx-font-family: Helvetica;
    -fx-font-size: 14;
    -fx-text-fill: white;
}